[2018-07-11 07:00] recoilme opened #2 "Css: menu align"
home to left, all others to right
[code]

[2018-07-11 07:10] recoilme opened #3 "Editor: upload image"
With https://github.com/Inscryb/inscryb-markdown-editor

add upload image button?
insert image as cdata?
insert image on drag and drop?
add some footer for upload like this one on github issues:
<img width="684" alt="screen shot 2018-07-11 at 10 09 29" src="https://user-images.githubusercontent.com/417177/42555928-95650aa8-84f2-11e8-9fbd-6aa597b85e6e.png">

[2018-07-11 12:27] recoilme opened #4 "Css: link in fa icons"
<img width="187" alt="screen shot 2018-07-11 at 15 26 29" src="https://user-images.githubusercontent.com/417177/42571155-e78e4e76-851e-11e8-8fcb-895217d18749.png">
<img width="259" alt="screen shot 2018-07-11 at 15 26 35" src="https://user-images.githubusercontent.com/417177/42571156-e7b16640-851e-11e8-90ae-03f8c8662069.png">
remove underscore for fa-icons

[2018-07-11 12:29] recoilme opened #5 "DB: CloseAll in case of panic"

[2018-07-11 14:18] #5 closed

[2018-07-12 10:34] #2 closed

[2018-07-12 10:35] recoilme commented on #4
папа сделаль
<img width="680" alt="screen shot 2018-07-12 at 13 35 18" src="https://user-images.githubusercontent.com/417177/42628319-77ea4312-85d8-11e8-9cab-0e5d22ea69b7.png">

[2018-07-12 10:35] #4 closed

[2018-07-14 14:24] recoilme opened #6 "href link"
hrefs are ugly
<img width="244" alt="screen shot 2018-07-14 at 17 23 16" src="https://user-images.githubusercontent.com/417177/42725328-a114376c-878a-11e8-96a1-39a92f95c994.png">
need something like this
![222](https://user-images.githubusercontent.com/417177/42725341-b3984be4-878a-11e8-9752-9389cabe19f9.jpg)

[2018-07-16 08:38] #6 closed

[2018-07-16 10:21] recoilme opened #7 "title"
title now append to post body - fix it

- [x] title must be in tag title in header
- [x] first paragraf must be in description
- [x] no og tags

[2018-07-16 10:22] recoilme opened #8 "comments"
- delete comment
- css for comment
- remove to bottom
- count comments on all/author

[2018-07-16 10:23] recoilme opened #9 "view"
no view count for every page

[2018-07-16 10:23] recoilme opened #10 "rss"
no rss/atom feed for author

[2018-07-16 10:24] recoilme opened #11 "follow"
unregistered user may follow/favorite and so on

[2018-07-16 10:25] recoilme opened #12 "main page is ugly"
need to fix css
it must be:
    ### Zen publishing
      playgroundlink

[2018-07-16 10:26] recoilme opened #13 "About"
no about project page

[2018-07-16 10:26] recoilme opened #14 "verify email"
add email verify

[2018-07-16 10:27] recoilme opened #15 "notification"
no notification about new comment

[2018-07-16 10:28] recoilme opened #16 "close writing"
some invite for writers or something must be implementing

[2018-07-16 10:29] recoilme opened #17 "favorite"
no favorite article page

[2018-07-16 10:33] recoilme opened #18 "telegram: export or import"
i don't know what do first
- export to telegram
- import from telegram

[2018-07-16 10:35] recoilme opened #19 "markdown"
many bugs in markdown

- [ ] - code block not work
- [ ] - tables not work
- [x] - headers are ugly
- [x] - no linebreak

[2018-07-16 12:14] #11 closed

[2018-07-16 13:42] recoilme commented on #17
add pagination

[2018-07-16 14:24] recoilme opened #20 "settings"
add mde

[2018-07-16 15:32] recoilme opened #21 "unread"
Сейчас unread выглядит так:
<img width="667" alt="screen shot 2018-07-16 at 18 31 37" src="https://user-images.githubusercontent.com/417177/42767767-88227bea-8926-11e8-8e20-b2269dd15e32.png">
А надо сделать в черном овале белыми буквами

[2018-07-16 15:51] recoilme commented on #8
- [ ] css for comment
- [ ] remove to bottom
- [ ] count comments on all/author

[2018-07-16 16:54] recoilme opened #22 "Signup with telegram"

[2018-07-17 08:22] recoilme opened #23 "ReCaptcha"

[2018-07-17 08:22] #23 closed

[2018-07-17 08:32] recoilme commented on #21
<img width="649" alt="screen shot 2018-07-17 at 11 32 15" src="https://user-images.githubusercontent.com/417177/42805667-1b19f958-89b5-11e8-8895-a4f3c0530aca.png">
я сделаль

[2018-07-17 08:33] #21 closed

[2018-07-17 08:36] recoilme commented on #16
https://github.com/patrickmn/go-cache/blob/master/README.md

[2018-07-17 08:36] recoilme commented on #16
https://github.com/ulule/limiter

[2018-07-17 08:58] recoilme commented on #16
Как защитить контент от спама

Тема это болезненная( У меня пока такие мысли:

- рекапча на регистрацию
- рэйт лимит по ip адресам
- заставить прописать аватар/био авторов
- рэйт лимит на новые посты раз в час
- рэйт лимит на комментарии - 10 минут

В дальнейшем планирую развивать так:

Градация паблишеров по следующим типам:
- bad internet person
- probably bad internet person
- probably good int

[2018-07-17 09:52] recoilme commented on #16
- [ ]     рекапча на регистрацию
- [ ]     рэйт лимит по ip адресам
- [ ]     заставить прописать аватар/био авторов
- [ ]     рэйт лимит на новые посты раз в час
- [ ]     рэйт лимит на комментарии - 10 минут

[2018-07-17 11:24] recoilme commented on #17
limited with last 100

[2018-07-17 11:24] #17 closed

[2018-07-17 12:25] recoilme opened #24 "slowpoke"
bug with counters on terminate?

[2018-07-17 19:50] #24 closed

[2018-07-17 19:51] recoilme commented on #16
split limits by lang?

[2018-07-18 06:39] recoilme opened #25 "editor: scrollbar"
add scrollbar to editor

[2018-07-18 06:39] recoilme commented on #25
exists in full screen

[2018-07-18 06:39] #25 closed

[2018-07-18 08:59] #13 closed

[2018-07-18 11:14] recoilme opened #26 "import: telegra.ph"
add button for import articles from telegra.ph

[2018-07-18 12:34] recoilme commented on #9
add persistence

[2018-07-18 14:04] #9 closed

[2018-07-18 18:34] recoilme opened #27 "username to lowercase"

[2018-07-19 07:34] #27 closed

[2018-07-19 07:38] recoilme opened #28 "instant view"

[2018-07-19 07:39] recoilme commented on #12
need logo

[2018-07-19 07:40] recoilme commented on #12
### ### ###
`
code
block
`

[2018-07-19 16:20] #12 closed

[2018-07-20 09:23] recoilme opened #29 "image upload"
- [x] загрузка внешних картинок с сжатием по ширине
- [x] формирование превью
- [x] подложить превью под бэкраунд
- [x] загрузка картинок с компьютера

Материалы https://matthias-endler.de/2017/image-previews/

[2018-07-23 18:54] recoilme opened #30 "image preview"
Currently image on typegram aggressively optimized

[![](http://ru.tgr.am/i/ru/recoilme/4.png)](http://ru.tgr.am/i/ru/recoilme/4_.png)

i want onmouse over - show picture under the preview (onclick), in same viewport

Is it possible?

[2018-07-23 18:55] recoilme commented on #30
examples: http://tst.tgr.am/@recoilme/8

[2018-07-24 10:05] #3 closed

[2018-07-24 10:05] #29 closed

[2018-07-25 09:12] recoilme opened #31 "meta tags"
https://gist.github.com/lancejpollard/1978404

[2018-07-25 09:13] recoilme opened #32 "avatar"
ex: https://github.com/o1egl/govatar

[2018-07-25 09:13] recoilme opened #33 "lossy png"
https://github.com/foobaz/lossypng

[2018-07-25 09:15] recoilme opened #34 "stat"
add stat in footer: authors: 1 posts: 1 visitors24h:1

[2018-07-25 09:15] recoilme opened #35 "Editor"
disable load from autosave on edit

[2018-07-25 09:16] #16 closed

[2018-07-25 09:17] recoilme commented on #8
- [ ] anchor on comment
- [ ] delete comment for author?
- [ ] edit comment?

[2018-07-25 09:18] recoilme opened #36 "export post to telegram"
i need this futhure

[2018-07-25 09:23] recoilme opened #37 "Translate about to: sv,de,fr,ko,pt,tr,zh"
- [x] Swedish/sv
- [x] de
- [x] fr
- [x] ko
- [x] pt
- [x] tr
- [x] zh

[2018-07-25 09:24] recoilme opened #38 "write new about with key futures"

[2018-07-25 09:57] recoilme commented on #15
i need something like this notes(4) in main menu
and last 100 links on new comments and mentions

[2018-07-25 09:58] recoilme opened #39 "Youtube link"
expand to direct link on video

[2018-07-25 10:00] recoilme opened #40 "gif"
gifs are awesome but very big

first screen optimize with atkinson dithering
add placeholder with it
on mobile - on click show gif
on desktop - on hover show gif

[2018-07-25 11:10] recoilme commented on #38
**[typegram] (http://tgr.am)** - zen service for authors and their subscribers with a minimalistic design and user-friendly interface.

**Basic Capabilities**
 - publications
 - comments
 - favorites
 - subscriptions

**Playground**
You can try the service on a special [test site](http://tst.tgr.am/).

**Localization**
The service is available, for example, for [Russian-speaking](http://en.tgr.am/

[2018-07-25 11:14] recoilme commented on #38
i use google translate for it - not perfect(

[2018-07-25 11:37] recoilme opened #41 "https"

[2018-07-25 16:45] recoilme commented on #41
add redirect http 2 https?

[2018-07-26 06:37] recoilme opened #42 "font download optimize"
https://www.webpagetest.org/result/180726_XC_9efbe93b158f547522f5f72a37a5ba99/1/details/

[2018-07-26 09:46] recoilme commented on #37
**[typegram](http://tgr.am)**- 최소한의 디자인과 사용자 친화적 인 인터페이스로 작성자와 가입자를위한 zen 서비스.

**기본 기능**
 - 간행물
 - 코멘트
 - 즐겨 찾기
 - 구독

**운동장**
특별한 [시험 장소](http://tst.tgr.am/)에서이 서비스를 시도 할 수 있습니다.

**현지화**
이 서비스는 [Russian-speaking](http://ru.tgr.am/) 및 [English-speaking](http://en.tgr.am/) 사용자에게 제공됩니다. 개발 과정에서 다른 언어의 플랫폼이 열립니다. 각 하위 도메인에서 사용자와 게시는 별도입니다.

**최적화**
가장 먼저 눈에 띄는 것은 페이지로드 속도와 공격적인 최적화입니다.
[![](http://

[2018-07-26 09:49] recoilme commented on #37
**[typegram](http://tgr.am)**- serviço zen para autores e seus assinantes com design minimalista e interface amigável.

**Capacidades Básicas**
 - publicações
 - comentários
 - favoritos
 - assinaturas

**Parque infantil**
Você pode experimentar o serviço em um [site de teste] especial (http://tst.tgr.am/).

**Localização**
O serviço está disponível, por exemplo, para usuários [falantes de russo](

[2018-07-26 09:53] recoilme commented on #37
**[typegram](http://tgr.am)**- Yazarlar ve aboneleri için minimalist bir tasarım ve kullanıcı dostu arayüzü ile zen hizmeti.

**Temel Yetenekler**
 - yayınlar
 - yorumlar
 - Favoriler
 - abonelikler

**Oyun alanı**
Hizmeti özel bir [test site](http://tst.tgr.am/) üzerinde deneyebilirsiniz.

**Yerelleştirme**
Servis, örneğin, [Rusça konuşan](http://ru.tgr.am/) ve [İngilizce konuşan](http://en.tgr.a

[2018-07-26 10:04] recoilme commented on #37
**[typegram](http://tgr.am)**- 为作者及其订阅者提供简约设计和用户友好界面的zen服务。

**基本功能**
  - 出版物
  - 注释
  - 最爱
  - 订阅

**操场**
您可以在特殊的[测试站点](http://tst.tgr.am/)上尝试该服务。

**本土化**
例如，对于[俄语](http://ru.tgr.am/)和[英语](http://en.tgr.am/)用户，该服务是可用的。在开发过程中，将打开其他语言的平台。在每个子域上，用户和出版物是分开的。

**优化**
吸引眼球的第一件事是加载页面的速度和积极的优化。
[![](http://tst.tgr.am/i/tst/recoilme/17.png)(http://tst.tgr.am/i/tst/recoilme/17_.png)
您将找不到监视用户行为或重量级样式/图像的第

[2018-07-26 10:36] #37 closed

[2018-07-26 10:46] recoilme opened #43 "Add my country"
If you want to add your country to tgr.am - just translate intro and give me comment here with translated intro and your country code
intro:
[code]

[2018-07-26 19:52] recoilme opened #44 "preview card with gradient"
![screen shot 2018-07-26 at 22 51 42](https://user-images.githubusercontent.com/417177/43285093-987a6f2c-9126-11e8-9725-be2015b97060.png)
good idea?

[2018-07-30 08:58] #7 closed

[2018-07-30 09:48] recoilme opened #45 "Cookie policy, and so on"

[2018-07-31 08:59] recoilme opened #46 "front: scrollbar at top with reading percent"

[2018-07-31 09:05] recoilme commented on #32
or may be simple css with avatars from first 2 char in colored circle - like in telegram
<img width="111" alt="screen shot 2018-07-31 at 12 04 53" src="https://user-images.githubusercontent.com/417177/43449767-f7336ef6-94b9-11e8-87fd-36ec354304fd.png">

[2018-08-01 08:48] recoilme opened #47 "redirect to en if locale not exists"

[2018-08-01 08:48] recoilme opened #48 "password change"

[2018-08-01 09:46] #47 closed

[2018-08-01 13:49] recoilme opened #49 "smtp server"

[2018-08-01 14:24] recoilme opened #50 "disable javascript"
- add this option in settings

[2018-08-01 14:25] recoilme opened #51 "last post on main page"
- clear user model
- add last post on main page

[2018-08-03 12:47] #48 closed

[2018-08-03 13:11] recoilme commented on #30
![durov](https://user-images.githubusercontent.com/417177/43644549-dd3c4c40-9737-11e8-917d-c68265bcbbdf.gif)

[2018-08-03 13:11] #30 closed

[2018-08-03 13:32] recoilme opened #53 "Zoom"
alone images  must have zoom future like this but aggressively minimalistic
https://github.com/nishanths/zoom.js

[2018-08-03 13:34] #28 closed

[2018-08-03 13:35] recoilme commented on #15
http://tst.tgr.am/i/tst/recoilme/22_.png

[2018-08-03 13:36] #15 closed

[2018-08-03 13:36] #8 closed

[2018-08-03 13:48] recoilme commented on #53
example (second small img) http://ru.tgr.am/@freemoney/25

[2018-08-06 17:00] gmemstr commented on #41
Are you using nginx in front of the application? You could use [Let's Encrypt](https://letsencrypt.org/) which will automatically set up the certificates and redirect.

[2018-08-06 17:01] gmemstr commented on #10
I could probably take this on in my free time, I spent some time with the Gorilla feed library (and contributed a bit to it) - this shouldn't be too difficult.

[2018-08-06 19:31] recoilme commented on #10
Hello @gmemstr , thank you
i use gorilla lib on my last project - http://tggram.com/

as i remember it was very easy on start but hard to add some custom futures like specific to rss tags

because  library - universal for rss/atom and so..

So i'm not sure ..  May be more easy create it from scratch - think about it please

i found little code snippet - may be it help (may be not)

[code]

[2018-08-06 19:37] recoilme commented on #41
@gmemstr  https://tgr.am/ must work (i don't use nginx, and use letsencrypt)
now https problem - more about clean direct http link from code (image upload for example)
and about automatically redirect from 80 - 443 port
i think it's better for me

[2018-08-06 21:59] Flameborn opened #54 "The hostname tgr.am is hardcoded"
Hello,

I really like the simplicity of this software. Apart from some minor additions, such as an RSS feed, it's very nice.

I would like to start a writers' hub for a small community, possibly widening the target audience as we gain more members.

Currently, the hostname _tgr.am_ is hardcoded, thus it is not possible to host a server on a local network, with an address such as 192.168.0.48.

[2018-08-07 05:13] recoilme commented on #54
Hello, @Flameborn
It must work on another domain (i dont test)  but it very depends on subdomains system, so for running on ip address - try add proxy from 192.168.0.48 to sub.localhost for example. I prefer caddyserver or nginx may be used

[2018-08-07 09:32] Flameborn commented on #54
Thank you very much.

Does this mean that Typegram has no landing page, e.g. a page which shows all the available languages, etc?

Also, am I right to assume that it automatically generates a separate site with separate users, posts, etc, for every subdomain, if proxied? e.g. en.domaincom, de.domain.com, etc.

[2018-08-07 10:03] recoilme commented on #54
No, you may modify the main page template: https://github.com/recoilme/tgram/blob/master/views/home.html
And hardcode header with language in the proxy, for example. But on localhost, it will start on "sub" subdomain so maybe it doesn't need

[2018-08-07 10:10] Flameborn commented on #54
Thank you very much for explaining this. I've managed to set it up and it works nicely!

[2018-08-07 10:10] #54 closed

[2018-08-08 07:58] recoilme commented on #45
http://ru.tgr.am/policy
http://ru.tgr.am/terms

[2018-08-08 07:58] #45 closed

[2018-08-08 09:04] recoilme opened #55 "Comment ratings"
http://en.tgr.am/@recoilme/25
http://ru.tgr.am/@recoilme/37

[2018-08-09 09:27] recoilme commented on #55
done!

[2018-08-09 09:27] #55 closed

[2018-08-09 09:28] recoilme opened #56 "Article rating"
http://en.tgr.am/@recoilme/25
http://ru.tgr.am/@recoilme/37

[2018-08-09 15:32] recoilme opened #58 "Reading time"
add words count and reading time on preview pages (all/author) in the compact format.

something like this:

@recoilme 1 min ago                                                                      words: 25 readtime: 1:30

don't show on article page?
don't show if words count == 0

@Flameborn Erion, I may implement it or assign it to you if you want?

[2018-08-09 15:40] recoilme commented on #58
oh, it's 1 minute -  I take it)

[2018-08-09 15:46] Flameborn commented on #58
I would be happy to implement this. Something like _1m_, _2m_, etc would work I think, for the all/author pages.

Are you planning to have just image posts? If yes, I agree, the reading time should not be there when the word count is zero, sorry I didn't think of that.

[2018-08-09 15:48] recoilme commented on #58
It's ok no problem, i do it

[2018-08-09 16:08] recoilme commented on #58
<img width="669" alt="screen shot 2018-08-09 at 19 07 31" src="https://user-images.githubusercontent.com/417177/43911186-86285fdc-9c07-11e8-886c-6318bd166df0.png">

[2018-08-09 16:13] #58 closed

[2018-08-09 16:13] #56 closed

[2018-08-10 06:25] recoilme commented on #46
we have reading time

[2018-08-10 06:25] #46 closed

[2018-08-10 10:36] Flameborn opened #60 "English language issues during registration"
Hello,

I noticed  you have reverted changes in the _views/register.html_ template, mainly because of the joke checkbox.

Unfortunately, this joke is not really understandable by English-speaking people. I think I see what you mean here, but _good internet person_ does not have much meaning in English. Maybe _I am a well-behaved Netizen_? This would make a lot more sense.

Also, regarding the chec

[2018-08-10 11:06] recoilme commented on #60
oh, thank you - i change this back(

[2018-08-10 11:42] Flameborn commented on #60
Thank you.

Actually, you could have a checkbox and call it something like _I am here to spam and destroy the world_, or something similar, and raise an error if it is checked. The error could say something like _Sorry, this site is not dedicated to spamming and world domination, so we cannot accept your registration._

Apart from being a joke, which it is, it could also keep out spammers, because

[2018-08-10 11:57] recoilme commented on #60
This very fun and useful ))
Maybe you implement your idea?

[2018-08-10 12:01] Flameborn commented on #60
I'm glad you like it. Sure, I can do this.

I also noticed there are a few things that probably should be moved to the .env config file, such as the recaptcha site key, the name of the admin who can delete posts, the site name and description, etc. I'll see if I can do something about this as well, a bit later.

[2018-08-10 12:04] recoilme commented on #60
nice idea about admin and so on
but I remove recaptcha and all code about
recaptcha works not stable and hated by people

[2018-08-10 12:09] Flameborn commented on #60
There are a few problems with Recaptcha:

* It is bad if you worried about your privacy (even more control for Google)
* It is not reliable, as far as the V2 API is concerned. V3 is in beta now, and apparently it is unseen. But I can confirm that V2 on a self-hosted URL shortener got hundreds of spam urls every day, and Recaptcha was not able to stop it.

The best we can do is either email confirm

[2018-08-10 12:10] recoilme commented on #60
i like I am here to spam and destroy the world, or something similar, and raise an error if it is checked

and have protection by ip

[2018-08-10 12:11] Flameborn commented on #60
Yeah, I think it is a nice thing to implement as well. I'll do it.

[2018-08-10 12:12] recoilme commented on #60
thank you!

[2018-08-10 12:46] recoilme opened #61 "#hashtag"
i need this

[2018-08-11 16:02] Flameborn opened #64 "Add article grouping"
I apologise if this is out of scope for TypeGram, as I am not sure about the roadmap.

I was thinking about how best it would be to group articles, based on a certain criteria, such as a common title. This way, an author could have _story title/chapter 1_, _story title/chapter 2_, etc defined.

This could be part of the url, for example: _https://tgr.am/@recoilme/storyTitle/storyChapter_, or _seri

[2018-08-12 08:37] recoilme commented on #64
Grouping of articles is needed,  you right
I start working on it yesterday)
https://github.com/recoilme/tgram/issues/61

[2018-08-12 14:49] cornerot commented on #41
You use Caddy, as I see.
Why not just make a  http->https redirect?

[2018-08-12 16:35] recoilme commented on #41
@cornerot i will do)

[2018-08-12 17:44] recoilme commented on #38
actual version: http://en.tgr.am/@recoilme/1

[2018-08-13 11:24] recoilme commented on #41
No problem, i just need to clean code before,  i forgot to remove tag help wanted, thank you!

[2018-08-13 11:27] recoilme opened #66 "readme text (bad english)"
@Flameborn  may you please take a look on new readme text??
i'm not sure - is it understandable?
sorry( no time to learn English(

[2018-08-13 11:38] Flameborn opened #67 "The Inscrybmde editor is inaccessible to screen readers"
This is not so much of a Typegram issue, but rather an external one with the editor. I'm raising this for discussion, as I am not entirely sure what would be the best solution here.

Blind and visually impaired users sadly cannot use Inscrybmde, due to the fact that it modifies the textarea to have just the currently edited line in it. The rest is included via a _p_ or a _div_, as far as I can tel

[2018-08-13 11:40] Flameborn commented on #66
Sure, I'll have a look and send a PR if necessary.

[2018-08-13 11:42] recoilme commented on #67
i have plans to add no javascript option -  https://github.com/recoilme/tgram/issues/50
and remove editor in this case. Is it help to blind people?

[2018-08-13 11:42] recoilme commented on #66
Thank you!

[2018-08-13 11:43] cornerot commented on #41
Ok. Пожалуйста!

[2018-08-13 11:44] recoilme commented on #61
looks like finished
but i return to it later, maybe for adding local hashtag

[2018-08-13 11:44] #61 closed

[2018-08-13 11:45] recoilme commented on #18
i add import from telegram first

[2018-08-13 11:45] #18 closed

[2018-08-13 11:45] recoilme commented on #38
moved 2 https://github.com/recoilme/tgram/issues/66

[2018-08-13 11:45] #38 closed

[2018-08-13 11:51] Flameborn commented on #67
It would be nice, as the default textarea works, however markdown preview and stats would be nice to have if JS is enabled as well.

At the moment, I can imagine an editor option, which would switch out the current editor for a textarea, as well as some stats, via these projects (both of them are under MIT):

https://github.com/justinmc/markdown-html-form
https://github.com/RadLikeWhoa/Countable

[2018-08-13 11:59] recoilme commented on #67
oh i spent many time and try many popular js editors
its very hard to find not buggy editor working in all browsers with real-time preview and markdown support  like in incrybmde
problem - most people don't know markdown- that's why i choose incrybmde - it has "buttons" and preview

[2018-08-13 12:06] Flameborn commented on #67
It is definitely easy to use, and I wish there was a way to have the best of both worlds, however, I don't think this is possible at the moment.

What do you think about the editor idea? Everything would stay the same, but if the editor is changed to the screen reader-friendly mode, it would be replaced by a standard text area, possibly a link to a Markdown cheatsheet, live preview and stats.

Thi

[2018-08-13 12:38] recoilme commented on #67
i'm dont understand wich problem it solve

i think blind people dont need any editor or another previe mode -  i think they need working without js site - they need just textarea - but i'm nor sure

On other hand - incrybmde has zero dependencies - much power, may work without replacement textarea, may count words without special js library has visual preview and many more

i dont see any advantag

[2018-08-13 13:00] Flameborn commented on #67
Yes, and no. Screen readers can indicate if something is bold, or italicised, or the font size, paragraph alignment, etc. This would be good to know, since their reader audience will most likely be the non-blind.

Another reason why live preview would be useful is the structure. Links, headings, lists, etc, are items that a screen reader can jump to, list, etc.

Also, it is generally a good idea t

[2018-08-13 13:36] Flameborn commented on #67
Yes. The problem is that blind people are unable to edit the text in the textarea, because Inscrybmde modifies keyboard events, so screen readers are unable to track the cursor.

This does not happen with a standard textarea, but the standard textarea does not have features that blind people would use, such as live preview, word count, etc.

[2018-08-13 14:26] recoilme commented on #67
Oh, ok i don't know many about this case. I don't understand how blind people will see the preview and why they don't may use just textarea with javascript disabled in the profile or in the browser. But if you talking about it -  i hope  - you know more about that case.

Add alternative editor it's a good option, in general.. May be.. Not sure.. But this one..   jquery dependency for example - It

[2018-08-13 14:58] Flameborn commented on #67
Blind people use software called _screen readers_ to read the screen, usually top to bottom.

They can still detect if something is a heading, there are for example, keyboard shortcuts to jump to a specific heading level, see formatting information, navigate lists, etc. All this happens via the keyboard.

If you use a Mac, there is a built-in one called VoiceOver, and you can see what information

[2018-08-13 15:00] recoilme commented on #67
Super! Sorry for misunderstanding

Don't forget to subscribe on project news!
https://www.producthunt.com/upcoming/typegram/messages/typegram-time

[2018-08-13 15:31] Flameborn commented on #67
Thanks for the link.

No worries. I will send a PR when I have something worth looking at emoji smile ☺️

[2018-08-13 21:08] #66 closed

[2018-08-13 21:26] Flameborn commented on #66
My pleasure.

[2018-08-14 07:41] bash77 opened #73 "Russian symbol (С)heckAndCreate"
https://github.com/recoilme/tgram/blob/4c296f66b6276119d1bd372b796973e4f6d7abc5/models/img.go#L98

[2018-08-14 08:10] recoilme commented on #73
fixed, thank you

[2018-08-14 08:10] #73 closed

[2018-08-14 08:14] recoilme opened #74 "alt tag on avatars removed"
@Flameborn  i removed alt tag on avatars images - it ruins interface
is it critical?

[2018-08-14 09:29] Flameborn commented on #74
No, it is not as important. I think the only time the alt tag can show up is if the image is empty.

[2018-08-14 09:32] Flameborn commented on #74
More info about alt attributes here https://moz.com/learn/seo/alt-text

[2018-08-14 09:39] recoilme commented on #74
thanks, we must hide empty images - it's bug

[2018-08-14 09:48] Flameborn commented on #74
Sorry, I was under the assumption that empty images were not shown. This should be an easy fix.

[2018-08-14 10:29] sw0rl0k opened #75 "Layout is not adapted for wide and mobile screens"
There are too many space on the sides of main content on wide screens (fullhd+). [Link to image](https://hsto.org/webt/8p/kj/5f/8pkj5fuddm7oaezotk00zqqqlwy.png)

Also there are some problems with header on mobile phones(Android, Chrome, fullhd). [Link to image](https://habrastorage.org/webt/ou/hf/tq/ouhftqnfdbzv2zxx8hjlhcov4bs.png)

[2018-08-14 11:44] uvNikita commented on #74
Note that `alt` attribute of the image tag is important for web accessibility: https://webaim.org/techniques/alttext. The content of this attribute is read out loud when an assistive technology like screen reader is used. E.g. without this text, a screen reader will simply read non-descriptive "image".

When it comes to the article images, the best would be to have a detailed description of the im

[2018-08-14 12:09] Flameborn commented on #74
You are right, however, unfortunately, this is outside of Typegram's control, unless author avatars are automatically generated.

At the moment, I believe users can upload their own image, which could be anything. It should be the user's responsibility to tag their own image properly.

We should definitely indicate that there is an image on the page, via the alt attribute, but I think the issue he

[2018-08-14 12:35] recoilme commented on #64
solved in #61

[2018-08-14 12:35] #64 closed

[2018-08-14 12:37] recoilme commented on #10
@gmemstr may i take this?

[2018-08-14 12:39] Flameborn commented on #32
I like the two approaches, and I would probably go with the first one, simply because it is more customisable, but it depends on how simple you want it to be.

With the first option, an author could set their gender as well, for example, so avatars could be gender specific. Not sure if we need it to be this complex though.

[2018-08-14 12:39] recoilme commented on #44
not needed

[2018-08-14 12:39] #44 closed

[2018-08-14 12:50] recoilme commented on #32
![](https://raw.githubusercontent.com/o1egl/govatar/master/files/avatars.jpg)
not fan(

more fan:

https://www.sitepoint.com/examples/primes/lego.html

they all generated from
    2 background image
    2 legs
    2 body
    2 head

May you try to research this?
i may ask a designer or some of the illustrators may be - paint something more pixel art and we may try to generate avatars from it. Via

[2018-08-14 12:51] recoilme commented on #32
<img width="199" alt="screen shot 2018-08-14 at 15 50 56" src="https://user-images.githubusercontent.com/417177/44092676-db3fbb0c-9fd9-11e8-8e2d-67c181841c22.png">
i will not happy with avatar like this)

[2018-08-14 12:54] Flameborn commented on #32
In this case go with the css version. You are right, it is more zen-like, and we probably don't need gender-based avatars, as much as we do need an avatar ☺️

[2018-08-14 13:08] recoilme commented on #32
<img width="204" alt="screen shot 2018-08-14 at 16 07 18" src="https://user-images.githubusercontent.com/417177/44093409-291a8382-9fdc-11e8-8881-52ad526c8be5.png">
very fun for me  https://luciorubeens.github.io/pictogrify/?ref=producthunt
https://github.com/luciorubeens/pictogrify

[2018-08-14 15:00] Flameborn commented on #67
https://github.com/recoilme/tgram/pull/76 should fix this.

[2018-08-14 16:35] recoilme commented on #75
@fr4nki Антох можешь глянуть какть?
хочется какоготь изящного фикса простенького..

[2018-08-14 16:40] zac-garby opened #77 "Error when trying to make a post"
I entered the following information:

<img width="669" alt="screenshot 2018-08-14 at 17 38 50" src="https://user-images.githubusercontent.com/19708658/44105246-001b72d6-9fe9-11e8-9c5a-9168569942f0.png">

And it gave me this error:

<img width="577" alt="screenshot 2018-08-14 at 17 38 58" src="https://user-images.githubusercontent.com/19708658/44105263-0b75714a-9fe9-11e8-9e15-071bc40658e2.png">

[2018-08-14 16:48] recoilme commented on #77
tag must be alphanum - likethis11 or somethinglikethis without any space

my english is bad( i don't know how write it more understandable ...

[2018-08-14 16:49] zac-garby commented on #77
@recoilme oh i'm stupid lol, didn't read that. Either way, it might be an idea to display the error a bit nicer

[2018-08-14 16:49] #77 closed

[2018-08-14 16:52] recoilme commented on #75
на мобилке хочется отправить top mid btm - вправо
правое меню ( sign up/sign in) - в центр
на широком экране( что есть широкий я затрудняюсь) - сделать ширина*1.5

[2018-08-14 18:12] fr4nki commented on #75
@recoilme ок, нопроб

[2018-08-15 11:08] recoilme commented on #50
<img width="689" alt="screen shot 2018-08-15 at 14 07 18" src="https://user-images.githubusercontent.com/417177/44145541-a16d6a58-a094-11e8-9249-99732f660c1f.png">

[2018-08-15 11:08] #50 closed

[2018-08-15 11:14] recoilme commented on #67
Temporarily solved in https://github.com/recoilme/tgram/issues/50

More complex solution https://github.com/recoilme/tgram/pull/76
Branch with not finished work: https://github.com/recoilme/tgram/tree/editor

Need many works (nice looking, correct preview, some autosave, autoload, implement  in article/comment)
Need designer and frontend dev with css/js experience to finish

[2018-08-15 12:19] Flameborn commented on #67
As a third solution, I have made an issue about this [here](https://github.com/Inscryb/inscryb-markdown-editor/issues/18)

Hopefully we'll get some input, because ultimately, this would be the best solution for everyone.

[2018-08-15 12:25] recoilme commented on #67
@Flameborn 👍

[2018-08-15 12:27] recoilme commented on #41
add auto-update certificate

[2018-08-15 15:32] recoilme opened #78 "who is vote"
+ 1:0 -
make: - clickable - with the simple table:

date author vote count

[2018-08-15 15:35] recoilme opened #79 "delete comments by author"
add the ability to an author to delete comments

[2018-08-15 23:38] gmemstr commented on #10
@recoilme Absolutely, feel free - been pretty busy with work and haven't gotten a chance to do this. Sorry!

[2018-08-16 15:15] recoilme commented on #32
monster avatar generator
unpack:
[monstrator.zip](https://github.com/recoilme/tgram/files/2294183/monstrator.zip)
(build for macos)

run - ./govatar generate monster -u recoilme -o avatar.png
place monsters parts pngs in data/monster

[2018-08-16 19:30] hiidoshick opened #81 "Баг с редактором"
При создании новой статьи появляется редактор со старой статьёй в нем, при чём заголовок пустой, а сам редактор уже заполнен старой статьёй.
![screenshot_20180816_221809](https://user-images.githubusercontent.com/40064364/44230444-d0d28980-a1a3-11e8-9c6c-6af42d2530d2.png)

[2018-08-16 19:41] hiidoshick opened #82 "Баг с отображением статьи в ленте"
Изображения из статей в ленте отображаются как текст вида [![](https://ru.tgr.am/image.png)], что очень некрасиво. Было бы хорошо писать вместо этого что-то типа "Image".
![screenshot_20180816_223907](https://user-images.githubusercontent.com/40064364/44231029-8225ef00-a1a5-11e8-804a-063f6d25810a.png)

[2018-08-16 19:44] hiidoshick opened #83 "Шрифт в статьях"
По моему мнению, в статьях было бы очень круто использовать шрифт Roboto Slab. Возможно это вкусовщина, но мне кажется, что этот шрифт более читабельный с экранов.
С Roboto Slab это будет выглядеть так:
![screenshot_20180816_222137](https://user-images.githubusercontent.com/40064364/44231189-ea74d080-a1a5-11e8-88e6-01485ea4c9a1.png)

[2018-08-16 21:08] recoilme commented on #83
Тут скорее таск про то что шрифты долго грузятся и думаю о системных
https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/

[2018-08-17 06:49] recoilme commented on #83
**Тэкс что получится если свалить на систем шрифты:**
Основной шрифт:

font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;

Меню и навигациии заголовок статьи (я не нашел ничего долее подходящего, в системе готового, это нормальная будет пара к винигрету системных шрифтов??):

fo

[2018-08-17 07:10] recoilme commented on #81
Спасибо за фикс полей ввода!

Я вот только не понимаю как лучше textarea сделать? Сейчас как то разорвано:

<img width="797" alt="screen shot 2018-08-17 at 10 07 18" src="https://user-images.githubusercontent.com/417177/44252617-6a7e5300-a205-11e8-9230-573a1a82329f.png">

По теме вопроса - это автосохранение
Я иногда "мажу" и в место опубликовать жму что ть потому что забыл что текст набираю
Очень

[2018-08-17 07:12] recoilme commented on #81
я пишу ей
textarea {
    margin-top: .5rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
}
но это не имеет никакого эффекта(

[2018-08-17 07:17] recoilme commented on #83
Как есть (паратайповские)
<img width="1260" alt="screen shot 2018-08-17 at 10 16 51" src="https://user-images.githubusercontent.com/417177/44252999-c8f80100-a206-11e8-805a-319b44d20e07.png">

[2018-08-17 07:29] recoilme commented on #83
Меню и заголовки и 1 параграф джорджия, текст статьи - системный (Helvetica Neue на маке)
<img width="1074" alt="screen shot 2018-08-17 at 10 28 13" src="https://user-images.githubusercontent.com/417177/44253463-60aa1f00-a208-11e8-89af-0e8e5002b771.png">

[2018-08-17 07:39] recoilme commented on #83
Наоборот, все ситемным , кроме текста статей  и коментов - он джордией
<img width="944" alt="screen shot 2018-08-17 at 10 38 25" src="https://user-images.githubusercontent.com/417177/44253901-cb0f8f00-a209-11e8-832e-96e88d5dd3e1.png">
<img width="717" alt="screen shot 2018-08-17 at 10 39 36" src="https://user-images.githubusercontent.com/417177/44253924-debaf580-a209-11e8-8747-eabcb149f2c2.png">

[2018-08-17 08:50] recoilme commented on #83
склоняюсь к джорджия для всех меню - системные шрифты для тела статей

Вроде красиво
<img width="917" alt="screen shot 2018-08-17 at 11 48 48" src="https://user-images.githubusercontent.com/417177/44257047-8a1c7800-a213-11e8-8cab-6d2b3f991a85.png">

[2018-08-17 09:33] recoilme commented on #83
Мне кажется  это бесконечная история. Пусть пока  будет так
<img width="208" alt="screen shot 2018-08-17 at 12 32 49" src="https://user-images.githubusercontent.com/417177/44259260-b4713400-a219-11e8-947e-d08a7498e67b.png">

[2018-08-17 09:36] recoilme commented on #82
Это очень сложно починить( Вариантов бесконечное множество
[code]

[2018-08-17 09:43] recoilme commented on #78
show only positive votes

[2018-08-17 11:28] #42 closed

[2018-08-17 13:16] recoilme commented on #83
Тяжело читается. Поставил все ситемным , кроме текста статей и коментов - он - [джордией](https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%BE%D1%80%D0%B4%D0%B6%D0%B8%D1%8F_(%D1%88%D1%80%D0%B8%D1%84%D1%82))

[2018-08-17 16:44] hiidoshick commented on #81
Я смотрю у вас вас отлично получилось!
![screenshot_20180817_194323](https://user-images.githubusercontent.com/40064364/44278202-f029ef00-a255-11e8-9afb-aced20c06167.png)

[2018-08-17 17:39] hiidoshick commented on #83
Простите за долгий игнор, но я весь день не имел доступа к гитхабу((( Насчёт долгой загрузки, я провел своё мини-исследование: сравнивал скорость загрузки одинаковых страниц с огромным количеством символов (~500000 символов). Сравнивал системный шрифт Georgia и Roboto Slab. В итоге потеря в скорости загрузки составила чуть больше 5%, при этом шрифт Roboto Slab находился не на компьютере, а импорти

[2018-08-17 17:51] hiidoshick commented on #83
Мне кажется, очень необычно будет использование моноширинного шрифта в полях ввода. Если правильно вписать его, то получится очень даже круто.

[2018-08-17 17:52] recoilme commented on #81
Не очень. Криво все( не пойму откуда отступ справа. Такой же отступ у текстареа в настройках.
И при развороте на пол экрана рвёт немношк (

[2018-08-17 17:55] hiidoshick commented on #83
Мне такой вариант нравится
![screenshot_20180817_205513](https://user-images.githubusercontent.com/40064364/44281271-e60cee00-a25f-11e8-877e-519368221ce7.png)

[2018-08-17 17:56] hiidoshick commented on #83
Но все же лучше вам почитать шрифт и понять, не устают ли от него глаза, удобно ли читать, не падает ли скорость чтения и т.д.

[2018-08-17 17:59] hiidoshick commented on #83
кстати, отступы сбоку у кнопки нужно побольше сделать
вот так
![screenshot_20180817_205916](https://user-images.githubusercontent.com/40064364/44281430-6c293480-a260-11e8-8b2f-e32444c1ce22.png)

[2018-08-17 18:35] recoilme commented on #83
Привет! Не о чем извиняться, все должно быть в удовольствие по мере наличия времени

Смотрел моноширинки, но немного в другом контексте, пробовал меню ими сделать - очень много площади сжирают по ширине. Насчет ввода моноширинным - интересная идея а как это сделать? Это можно через css? там техтареа js редактора меняет на див - нетривиально мб это все

по скорости - понимаю что заморочка - на скач

[2018-08-17 18:42] hiidoshick commented on #83
Я бы попробовал создать родительский div к textarea
вот так:
`<div style="font-family: 'Ubuntu Mono'">
<textarea></textarea>
</div>`

[2018-08-17 18:53] hiidoshick opened #84 "Полноэкранный редактор"
Вокруг редактора статей в полноэкранном режиме есть рамка, которая совершенно не к месту
![screenshot_20180817_214859](https://user-images.githubusercontent.com/40064364/44283588-89adcc80-a267-11e8-983d-c11d91e96050.png)
Просто без рамки намного лучше
![screenshot_20180817_215207](https://user-images.githubusercontent.com/40064364/44283679-ddb8b100-a267-11e8-9a95-0be2182abbf8.png)

[2018-08-18 08:31] hiidoshick commented on #84
Кстати вот такой дизайн текстовых полей тоже неплохо выглядит. Меньше выделяется
![screenshot_20180818_113038](https://user-images.githubusercontent.com/40064364/44297444-3f196800-a2da-11e8-842b-4a28a9fa0a71.png)

[2018-08-18 10:04] recoilme commented on #84
<img width="430" alt="screen shot 2018-08-18 at 13 03 07" src="https://user-images.githubusercontent.com/417177/44298173-1350af00-a2e7-11e8-9571-925ea26e5d6c.png">
серый на сером потеряется, попробую ка рамочки сделать менее агрессивными

[2018-08-20 16:11] recoilme opened #85 "Release"
@Flameborn Hello Robert!

May you please take a look at product hunt?
https://www.producthunt.com/posts/typegram

We are released today, I write a little about you - is it ok?

[2018-08-20 16:55] Flameborn commented on #85
Hello,

Looks fantastic! Thank you!

I’m glad to be part of this journey.

[2018-08-20 16:58] recoilme commented on #85
Thank you!

Don't forget upvote for us, please!

[2018-08-20 17:05] #85 closed

[2018-08-21 09:35] recoilme commented on #82
да, все делается в гоу, это маркдаун из которого выдирается кусок на превью
по идее надо вырезать все картинки ![]() и заменить на слово image. Наверно регуляркой

[2018-08-21 10:27] recoilme commented on #41
[code]

[2018-08-21 12:39] recoilme opened #86 "wrong image orientation"
upload server must rotate the image

[2018-08-22 12:27] dpffxhad opened #87 "Embed static assets in executable"

[2018-08-22 15:44] recoilme commented on #87
i think edit template in html file much easy then unpack from binary and modify, or i understand you wrong?

[2018-08-22 16:32] recoilme commented on #79
done!

[2018-08-22 16:32] #79 closed

[2018-08-22 17:30] dpffxhad commented on #87
generated binary file can only be run from tgram directory if you could use a tool like [packr](https://github.com/gobuffalo/packr) or [go-bindata](https://github.com/jteeuwen/go-bindata) to embed views and static files, end user wouldn't need to worry with code and can just run from binary when you release binaries.

[2018-08-22 17:34] dpffxhad opened #88 "Feature Request: Ability to Specify Database Location"

[2018-08-23 07:04] recoilme commented on #87
Personally, for me, it's an ugly solution. I like to have the possibility to modify css,html,js etc
But I do not object to having such an opportunity as an alternative to tar.gz distribution in the future

[2018-08-23 07:07] recoilme commented on #88
i think it must work with simlink now, but not tested it

[2018-08-23 07:46] recoilme opened #90 "Type2Telegram"
- [ ] add channel
- [ ] add bot
- [ ] check bot present
- [ ] convert to md telegram
- [ ] publish post
- [ ] edit post
- [ ] delete post
- [ ] balance
- [ ] charge on post
- [ ] ?

[2018-08-23 08:13] dpffxhad commented on #88
Also having db/ directory in the repo directory is bad. Could you add TGRAMDB env variable to specify a location?

[2018-08-23 08:25] dpffxhad commented on #87
You have to generate a new binary anyhow when you update static files. I personally like to have all binaries in $GOPATH/bin. For people who just like to download binary and run, this would be a great option and also they don't have to worry about `go build`. Check out [Gitea releases](https://github.com/go-gitea/gitea/releases)

[2018-08-23 09:17] recoilme commented on #87
i know about that option but don't like it I don't understand why close resources from modification. People like to modify favicon, change templates and scripts. That's impossible then assets packets in binary. On last week i rewrited another product. Because all assets was in the binary. **I Hated developer very much at this moment**

[2018-08-23 09:52] recoilme commented on #87
but if someone wants to create binary single file release - i don't mind
It  absolutely not useful but looks very cute

[2018-08-23 10:15] recoilme commented on #88
Feel free to send  PR if you may, I have many more priority tasks right now, sorry about that

[2018-08-28 12:41] recoilme opened #93 "dau"

[2018-08-28 17:04] recoilme opened #94 "private post"
add ability to write private posts not visible on main page(mid)

[2018-08-31 11:06] recoilme opened #97 "redirect from main page"
test idea:
 - redirect unregistered users on top
 - redirect registered users (if no new post/mentions) on mid
 - open the main page by click from menu without redirect

[2018-08-31 11:07] recoilme commented on #32
<img width="434" alt="screen shot 2018-08-30 at 17 16 31" src="https://user-images.githubusercontent.com/417177/44909221-2e7bdf80-ad27-11e8-8b87-fe095a7d7870.png">
implemented!

[2018-08-31 11:07] #32 closed

[2018-08-31 14:35] #97 closed

[2018-08-31 14:56] #93 closed

[2018-09-03 08:47] recoilme opened #99 "Grayscale emoji"
Find a way to detect emoji in texts and convert it to grayscale with css?
Example:
<img width="870" alt="screen shot 2018-09-03 at 11 46 55" src="https://user-images.githubusercontent.com/417177/44976835-15656f80-af6f-11e8-8cd5-6ba57c897b4b.png">
 https://codepen.io/SaijoGeorge/pen/bqXRNM

[2018-09-03 08:48] recoilme commented on #99
some parser https://github.com/urakozz/go-emoji
i think it may be just array of emoji

[2018-09-03 08:52] recoilme commented on #99
related https://stackoverflow.com/questions/30757193/find-out-if-character-in-string-is-emoji

[2018-09-03 13:32] recoilme commented on #49
https://github.com/go-gomail/gomail/blob/master/example_test.go

https://gist.github.com/andelf/5004821

minimal

[code]

[2018-09-04 08:30] recoilme opened #100 "css glitch"
the main page is ugly
<img width="714" alt="screen shot 2018-09-04 at 11 26 48" src="https://user-images.githubusercontent.com/417177/45019615-79526b80-b035-11e8-89c8-9c77872bef91.png">
all link has same size and dont visible

i think to add some glitch effect on Don't Click Here! link
for user attention on it

Glitches collection:

https://codepen.io/mahan/pen/AgBEw
https://codepen.io/yemon/pen/d

[2018-09-04 08:32] recoilme commented on #100
<img width="280" alt="screen shot 2018-09-04 at 11 31 45" src="https://user-images.githubusercontent.com/417177/45019894-23ca8e80-b036-11e8-9bf0-f86a740bcae7.png">
footer is ugly too

[2018-09-04 08:44] recoilme commented on #100
feedback
I liked it enough to sign up, and I am looking forward to your success. The good: Easy to understand once I poked around and I liked the feel. I liked the clean and unique flavor. The bad: I almost hated it... I am not sure why... I think it was off-putting that I had to hunt around before I could figure out where to go.

[2018-09-04 16:45] recoilme commented on #100
https://codepen.io/recoilme/pen/XPgMgv

[2018-09-05 09:10] recoilme commented on #100
че то я поторопился закрыть, надо сделать черно белый глитч

[2018-09-05 09:26] #100 closed

[2018-09-05 11:44] recoilme opened #101 "404 page"
now redirect on register page
and no 404 page in general - https://ru.tgr.am/fsfsdf

[2018-09-10 06:57] #41 closed

[2018-09-23 12:53] guseinovmg opened #102 ""Monsters" don't work"
"Monsters" don't work in my local installation
![screenshot at 2018-09-23 18-51-40](https://user-images.githubusercontent.com/4104650/45928215-02d4c980-bf62-11e8-8c9e-61618121d7ea.png)

[2018-09-24 07:50] guseinovmg opened #103 "Too many unused methods"
What is author going to do with them?

[2018-09-24 08:15] bentinata commented on #43
# Typegram

[typegram](http://tgr.am) - zen blog platform (layaknya medium).

**Kemampuan Dasar**

- publikasi
- komentar
- favorit
- langganan
- sapaan
- label
- penilaian
- dan lain-lain

**Coba Sendiri**

Kamu bisa mencoba di [situs uji coba](http://tst.tgr.am/). Gunakan ini untung mencoba fitur dan kemampuan.

**Lokalisasi**

Layanan tersedia, sebagai contoh, untuk [pengguna berbahasa Rusia](h

[2018-09-24 09:43] recoilme commented on #43
@bentinata thank you very much for the help with translation on Indonesian!
I created subdomain https://id.tgr.am/
See: https://en.tgr.am/@bentinata/39#comment29
Thank you for your help!

[2018-09-24 10:03] guseinovmg commented on #103
For example methods in file cashe.go. I use Goland IDE, it has greyed unused methods:
![screenshot at 2018-09-24 16-00-06](https://user-images.githubusercontent.com/4104650/45946639-4afff480-c013-11e8-8954-19a8c1909702.png)

[2018-09-24 10:10] recoilme commented on #103
it's probably an error in Goland IDE, for example RegisterIPSet used in routers.go (399):
		// add to cache on success
		models.RegisterIPSet(ip)

<img width="901" alt="screen shot 2018-09-24 at 13 08 15" src="https://user-images.githubusercontent.com/417177/45946889-f0f33500-bffa-11e8-9271-b90906ee8068.png">

[2018-09-24 10:10] #103 closed

[2018-09-24 10:11] #102 closed

[2018-09-25 10:49] recoilme opened #104 "translate registration page"

[2018-09-25 10:50] recoilme opened #105 "Dont remove space on publish"
![photo_2018-09-25_13-50-37](https://user-images.githubusercontent.com/417177/46010048-01beac00-c0ca-11e8-9046-8c42dec35e86.jpg)

[2018-09-25 10:51] recoilme opened #106 "Add vertical scrollbar to texteditor"

[2018-09-26 10:01] #104 closed

[2018-10-05 15:23] recoilme opened #107 "Android app (description on russian) черновик"
Итак, какую идею хочется проверить. В гугл плей есть такая замечательная фича как пуш уведомления. Но мало кто знает что есть специальный тип пушей - без пушей. Он называется data payload - как так. Там можно слать кажется до 4 кб данных. Итак, в чем идея. Заводим приложуху. Создаем канал в мерзком фаербейс. Подписываем приложуху на этот канал. Добавляю в тайпграм фичу - при публикации статьи слат

[2018-10-09 10:53] recoilme opened #108 "api"
// Get last 20 articles
curl --header "Content-type:application/json"   'http://sub.localhost:8081/mid'
[code]

//Get next 20 from article id 20
curl --header "Content-type:application/json"   'http://sub.localhost:8081/mid?p=20'
response - similar

//Get article
curl --header "Accept:application/json"   'http://sub.localhost:8081/@username/19'
[code]

//register
curl  --header "Content-type:appli

[2018-10-11 11:23] recoilme opened #109 "Dogecoins in typegram! To the MOON!"
**General Info**
About Dogecoin - https://ru.wikipedia.org/wiki/Dogecoin
Main site - https://dogecoin.com/
Wiki - https://www.reddit.com/r/dogecoin/wiki/dogecoincoreguide
github - https://github.com/dogecoin/dogecoin
discord - https://discordapp.com/channels/311390524290629632/311390524290629632

**Technical info**
Dogecoin is clone litecoin, litecoin is clone bitcoin, so - dogecoin has rpc server

[2018-10-11 13:39] recoilme commented on #107
![photo_2018-10-11_15-19-21](https://user-images.githubusercontent.com/417177/46808127-4017c480-cd74-11e8-8895-3800f2e0412b.jpg)
Инетрфейс. Работает!

[2018-10-11 16:51] wertlex commented on #107
А как быть с тем, если я из сети выпал на сутки? Всё, больше не увижу статью? У нотифая же вроде время жизни есть.

[2018-10-11 17:00] recoilme commented on #107
@wertlex хороший вопрос. Во первых пуш хранится 14 дней. Во вторых, мы сделали и классическое апи. При запуске, оно качает все статьи через апи. Потому что пуши начнут идти только после первого запуска. Вобщем, оно не совсем server less. Серверно апи пришлось написать(

[2018-10-11 20:39] recoilme commented on #107
https://ru.tgr.am/i/ru/recoilme/33_.png

[2018-10-12 15:09] sakurov commented on #107
Привет, а в разработке Андроид приложения можно будет поучаствовать?

[2018-10-12 15:22] sakurov commented on #107
@recoilme Привет, можно будет присоединиться к разработке Андроид приложения?

[2018-10-12 15:34] sakurov commented on #107
@recoilme окей, буду ждать, спасибо за оперативный ответ

[2018-10-12 15:40] recoilme commented on #109
simple api for rpc: https://github.com/recoilme/tgram/issues/109
based on https://block.io/pricing
but 100 Wallet Addresses per Network limitation in free mode

[2018-10-12 16:40] recoilme opened #110 "Publishing posts"
Add private posts:
- [ ] publish on main page

[2018-10-15 09:50] recoilme commented on #107
@sakurov можно посмотреть, попробовать репа живет тут https://github.com/vogster/Typegram-android

[2018-10-15 13:11] recoilme commented on #108
@vogster
**Send delete post to FCM**
[code]

[2018-10-17 13:56] recoilme commented on #108
**Errors**
in case of errors api will return HTTP code 422 and json with error string:
[code]
(not sure in format)

[2018-10-17 14:34] recoilme commented on #108
Post article

[code]

[2018-10-17 14:44] recoilme commented on #108
**Post comment**
[code]

[2018-10-23 13:36] dokzlo13 opened #111 "csrf vulnerability"
Has found many CSRF-vulnerable methods in Typegram source code. Descibe it with some snippets in [my repo](https://github.com/dokzlo13/typegram_attacks)
I have no experience in golang, so I can not yet contribute to the project, may be anyone can help with security fixes?

[2018-10-23 14:23] recoilme commented on #111
@dokzlo13 Thanks for detailed analyses! It's huge work, thank you!
All of this method required authorization and will not work without authentification on one hand and i need simple api for all of these methods on another hand: https://github.com/recoilme/tgram/issues/108

May you please suggest how save api and don't get anyway for attack via csrf?

[2018-10-23 15:06] dokzlo13 commented on #111
@recoilme
Yes, all this attacks directed to users of typegram.
CSRF is an attack that forces an end user to execute unwanted actions on a web application in which they're currently authenticated. If the victim is a normal user, a successful CSRF attack can force the user to create new post, or follow someone etc.
The exploit URL can be disguised as an ordinary link, encouraging the victim to click

[2018-10-23 16:15] recoilme commented on #111
@dokzlo13 i try Content-Security-Policy and disable Access-Control-Allow-Origin
But post request/js works like from my domain, in that case, rrr((
will try CSRF token now

[2018-10-23 17:14] recoilme commented on #111
@dokzlo13 this vector closed i think https://dokzlo13.github.io/typegram_attacks/post.html
I add token in editor form and check it. Do you think it will be enough?
commit https://github.com/recoilme/tgram/commit/e113ec1a63d8c0db58551841251d303ee19f74db

Delete must not work because of cors + get
<img width="1232" alt="screenshot 2018-10-23 at 20 01 08" src="https://user-images.githubusercontent.co

[2018-10-25 09:14] recoilme commented on #111
- [ ] protect create post
- [ ] protect create comment
- [ ] protect type2tele
- [ ] change all get methods on post methods

[2018-11-16 15:01] Fastidious opened #112 "Compiling"
I am a little bit lost on how to compile this. I would rather not use *Fresh*, so, which are the simple steps to get it compiled? Thanks!

[2018-11-16 15:03] recoilme commented on #112
[code]

[2018-11-16 15:08] Fastidious commented on #112
I get:
[code]
Do I need to clone the repository first, and run those within the cloned repository directory?

[2018-11-16 15:29] Fastidious commented on #112
Answering to myself:
- Make sure you have the `GOPATH` and `GOBIN` defined.
    `export GOPATH=/path/you/want/to/use`
    `export GOBIN=$GOPATH/bin`
    `export PATH=$PATH:$GOBIN`
- Clone *tgram* and move it to your `GOPATH`.
- Run `go get ./...` within the clone repository.
- Find *tgram* within your `GOBIN`.

[2018-11-16 15:30] #112 closed

[2018-11-16 21:15] Fastidious commented on #87
I am with @recoilme, and prefer leaving assets **out** of the binary. But I think the releases should contain the binary for various platforms (just like *gogs* and *gitea* do), plus the assets.

I managed to compile but missed all assets, running it locally would redirect to `sub.localhost:8081`, and overall ended up not being able to test it, and deleting. If *tgram* release was nicely compiled,

[2018-12-06 13:33] paxapy opened #113 "spellchecker possible?"
is there spellchecker option available?
maybe I have a wrong hands, but google spellchecker in my chrome 65.0.3325.181 seems not available.

also, intrested in writing custom spellchecking or integration, if it's relevant

[2018-12-06 15:15] recoilme commented on #113
This project is multilanguage, but most spellcheckers are language specific
In next version of the editor - browsers spellcheckers maybe will work, but right now - not

[2018-12-08 08:04] juviee commented on #109
Is dogecoins will be bounded to global blockchain, or it will be local fork of dogecoins?

[2018-12-10 06:46] paxapy commented on #113
yeah i've noticed multilingual.
i also noticed that there is strict relation between subdomain and language, so it's not a problem to use lanugage specific spellchecker.

meh.. why these doubts? can I assist somehow?

[2018-12-10 10:13] recoilme commented on #113
@fr4nki write now a new editor based on textarea
In this version browsers plugins must work
Any news @fr4nki ?

[2018-12-10 10:15] recoilme commented on #109
i have plans integrate with global blockchain, but right now not many people will use it i think, so i freeze this issue

[2018-12-11 10:10] fr4nki commented on #113
@recoilme next week, probably. But textarea supports only native browser spellchecking. It can be just turned on or turned off.

[2018-12-11 10:15] recoilme commented on #113
@fr4nki Perfect!
right here (on github) Grammarly plugin  works for me in textarea

[2019-01-11 20:36] hiidoshick opened #114 "Съехали input'ы"
У всех полей ввода на сайте в мобильной версии отступ справа нулевой
![screenshot_20190111-233226](https://user-images.githubusercontent.com/40064364/51058371-960d3a00-15f9-11e9-98ed-b9a52a97c440.png)
![screenshot_20190111-233248](https://user-images.githubusercontent.com/40064364/51058379-9ad1ee00-15f9-11e9-8322-6cb8b8982219.png)

![screenshot_20190111-233219](https://user-images.githubuserconten

[2019-03-20 07:18] hiidoshick opened #116 "Fullscreen editor bug"
![image](https://user-images.githubusercontent.com/40064364/54665883-5aab5200-4af9-11e9-9735-851ba5882e7a.png)

[2019-03-20 12:49] recoilme commented on #116
@fr4nki Антох, глянешь какть?

[2019-03-20 15:11] fr4nki commented on #116
@recoilme ok
@hiidoshick what's your os? wanna try to reproduce. thx.

[2019-03-20 15:15] hiidoshick commented on #116
@fr4nki OS: Manjaro Linux KDE Edition
Browser: Mozilla Firefox Developer Edition, Chromium

[2019-03-22 22:16] fr4nki commented on #116
reproduced the bug. would be fixed in next editor release

[2019-03-26 07:15] #114 closed

[2020-01-05 06:45] ghost opened #118 "Cannot run development env"
No pages are working. It just simply redirects to http://sub.localhost:8081.

[2020-01-05 11:12] recoilme commented on #118
You must see logo and sign up link